<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles.css">
    <title>Dashboard</title>
</head>
<body>
     <header>
        <div class="container">
            <img src="travel.png" alt="Production House Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="">{{user.username}}</a></li>
                    <li><a href="login">Logout</a></li>
                  
                </ul>
            </nav>
        </div>
    </header>
   
        <marquee>Welcome to the Dashboard! {{user.username}}</marquee>
    <section id="services" class="services">
        <div class="container">
            <h2>Our Services</h2>
            <div class="service">
                <h3>Video Production</h3>
                <p>High-quality video production for various needs.</p>
            </div>
            <div class="service">
                <h3>Photography</h3>
                <p>Professional photography services for any occasion.</p>
            </div>
            <div class="service">
                <h3>Post Production</h3>
                <p>Editing and special effects to enhance your content.</p>
            </div>
        </div>
    </section>
    
    <!-- Add other dashboard content here -->
    
</body>
</html>
