<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    <link rel="stylesheet" href="/styleserror.css">
</head>
<body>
    <form id="application-form">
        <h1>404 Error!</h1>
        <div class="container">
            <img src="/dribbble_1.gif">
        </div>
        <h2>Look like  you’re lost </h2>
        <h4>the page you are looking for is not available !</h4>
       
        <button type="button" onclick="goBack()">Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </form>
</div>
</body>
</html>
